*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

.countryCard {
  width: 180px;
  height: fit-content;
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding: 10px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countryCard p {
  font-weight: 700;
  font-size: 18px;
  margin-top: 10px;
}

.searchbox {
  padding: 10px 0px;
  background-color: cadetblue;
}

.searchbox input {
  width: 500px;
  padding: 2px 10px;
  border-radius: 5px;
  border: 1px solid grey;
}
